@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  

  #content ul.list {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 30px 150px 90px;
    gap: 24px;
  }

  .header {
    display: flex;
    flex-direction: row;
    height: 4em;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4em;
    gap: 30px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    border: 1px solid var(--white);
    height: 50px;
    width: 50px;
    border-radius: 30px;
    text-decoration: none;
    color: var(--white);
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .nav-item {
    padding: 2px;
  }

  .nav-link {
    color: var(--white);
  }

  .comments-popup {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    width: 35em;
    height: 42em;
    position: fixed;
    top: 3.5em;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .comments-popup.active {
    display: none;
  }

  .top {
    width: 30em;
    height: 11em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 15px;
  }

  .pokemon-img {
    margin-left: 40px;
    box-shadow: 1px 1px 1px 1px black;
  }

  .close-popup {
    margin-left: 85px;
    margin-right: 25px;
    transition: all 0.2s ease-in-out;
  }

  .close-popup:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.2);
  }

  .middle {
    width: 25em;
    height: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .pokemon-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pokemon-details {
    width: 170px;
    margin-left: 30px;
    margin-bottom: 15px;
  }

  .load.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 45%;
    width: 150px;
    height: 50px;
    border-radius: 6px;
    background-color: #0e72ed;
    color: white;
  }

  .load {
    display: none;
  }

  .comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 9em;
    overflow: scroll;
  }

  .comment-section > * {
    margin: 3.5px;
  }

  .comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .add-comment {
    display: flex;
    flex-direction: column;
    height: 9em;
    width: 25em;
    align-items: center;
    justify-content: center;
  }

  .comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .add-comment-title {
    margin: 6px;
  }

  #insights {
    color: rgba(0, 0, 0, 0.6);
  }

  #btn-comment {
    display: flex;
    justify-content: center;
    width: 65px;
    height: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 1px black;
    border-radius: 3px;
  }
}
