@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  #content ul.list {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 30px 150px 90px;
    gap: 24px;
  }
}
