@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  #content ul.list {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 30px 150px 90px;
    gap: 24px;
  }

  /* variables */
:root {
  --white: #fff;
  --black: black;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body settings */
body {
  background: var(--white);
  font-family: Inter, sans-serif;
  font-style: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  height: 4em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4em;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  text-decoration: none;
  color: black;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-item {
  padding: 2px;
}

.nav-link {
  color: black;
}

.comments-popup {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  width: 35em;
  height: 40em;
  position: fixed;
  top: 4.5em;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.comments-popup.active {
  display: none;
}

.top {
  width: 30em;
  height: 15em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 15px;
}

.pokemon-img {
  margin-left: 40px;
  box-shadow: 1px 1px 1px 1px black;
}

.close-popup {
  margin-left: 70px;
  margin-right: 25px;
  transition: all 0.2s ease-in-out;
}

.close-popup:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, .2);
}

.middle {
  width: 25em;
  height: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pokemon-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-details {
  width: 170px;
  margin-left: 30px;
  margin-bottom: 15px;
}
}
