.header {
  display: flex;
  flex-direction: row;
  height: 4em;
  font-weight: bold;
  color: var(--white);
  background: var(--blue2);
  font-weight: bold;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4em;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  border: 1px solid var(--white);
  height: 50px;
  width: 50px;
  border-radius: 30px;
  text-decoration: none;
  color: var(--white);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-item {
  padding: 2px;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
}

.container {
  padding: 40px;
  margin: 20px;
}

#content ul.list {
  display: grid;
  align-content: center;
  grid-column: 1 / 3;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin: 24px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
  margin-top: 30px;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
  border-radius: 8px;
}

.card div {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.card button {
  background-color: var(--blue2); /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
}

.card .hidden {
  display: none;
}

.card button:hover {
  cursor: pointer;
}

.card div span:hover {
  cursor: pointer;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: normal;
}

.card-subtitle {
  margin-top: 5px;
  font-weight: bold;
  text-align: right;
  width: 100%;
}

.card-image {
  height: 180px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--white);
  background: var(--blue2);
  width: 100%;
}
