/* variables */
:root {
  --white: #fff;
  --black: black;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body settings */
body {
  background: var(--white);
  font-family: Inter, sans-serif;
  font-style: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
